/***************************Setting colors***************************/
//text
$whiteText: #e7e7e7;
$blackText: #000000;
$titleRed: #d04f4f;

//background
$inputBackgroundGrey: #e7e7e7;
$imageBackgroundGrey: #c7bebe;
$menuCardBackgroundGrey: #e7e7e7;
$filterBackgroundRed: #ed6454;
$filterBackgroundGreen: #68d9a4;
$filterBackgroundBlue: #3282f7;
