/****************************setting fonts***************************/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/**************************setting text***************************/

h1 {
  font-weight: 700;
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
}

.item_list,
.input,
h2 {
  font-weight: 400;
  font-size: 18px;
}

.item_text_display,
.dropdown_item {
  font-weight: 700;
  font-size: 14px;
}

.btn,
.dropdown_input,
.time_display {
  font-weight: 700;
  font-size: 18px;
}

.ingredients {
  font-weight: 400;
  font-size: 12px;
}
.bold {
  font-weight: 700;
  font-size: 12px;
}

.menu_description {
  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
