/***************************************************************/
/*setting*/
/***************************************************************/
/*************************Setting page**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Lato", sans-serif;
}

body {
  @include center;
  flex-direction: column;
  width: 90%;
  max-width: 1450px;
  text-align: left;
  margin: 0 auto;
}

button {
  text-align: left;
  width: 170px;
  height: 69px;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
}

/*************Text link & img fit & icone color***************/
a,
a:visited {
  color: black;
  text-decoration: none;
}

/*************************breakup**************************/

$breakup-smartphone: 555px;
$breakup-tablette: 1060px;
