/**********************************************************************/
/*header*/
/**********************************************************************/

header {
  @include center;
  flex-direction: column;
  margin-top: 50px;

  h1 {
    color: $titleRed;
  }
}
