/**********************************************************************/
/*Main*/
/**********************************************************************/
main {
  width: 100%;

  /***************************************/
  /*form*/
  /**************************************/

  .search_form {
    width: 100%;

    .input_wrapper {
      position: relative;
      .input {
        width: 100%;
        height: 69px;
        padding-left: 24px;
        margin-bottom: 22px;
        background-color: $inputBackgroundGrey;
        border: none;
        border-radius: 5px;

        /*******************************************/
        @media screen and (max-width: $breakup-smartphone) {
          font-size: 14px;
        }
        /*******************************************/
      }
      .search_icone {
        position: absolute;
        font-size: 32px;
        top: 20px;
        right: 20px;

        /*******************************************/
        @media screen and (max-width: $breakup-smartphone) {
          top: 26px;
          font-size: 20px;
        }
        /*******************************************/
      }
    }

    .display_filter_item {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      gap: 10px;
      row-gap: 10px;

      .filter_item_wrapper {
        @include center-row;
        gap: 10px;
        height: 37px;
        padding: 0 20px;
        border-radius: 5px;
        width: fit-content;

        .item_text_display {
          color: $whiteText;
          /*******************************************/
          @media screen and (max-width: $breakup-smartphone) {
            font-size: 12px;
          }
          /*******************************************/
        }

        .item_logo {
          font-size: 20px;
          color: $whiteText;
          cursor: pointer;

          /*******************************************/
          @media screen and (max-width: $breakup-smartphone) {
            font-size: 15px;
          }
          /*******************************************/
        }
      }
      .blue {
        background-color: $filterBackgroundBlue;
      }
      .green {
        background-color: $filterBackgroundGreen;
      }
      .red {
        background-color: $filterBackgroundRed;
      }
    }
  }

  /***************************************/
  /*dropdown*/
  /**************************************/
  .menu_dropdown {
    @include direction-row;
    gap: 20px;
    margin: 20px 0 25px 0;

    /********************media*******************/
    @media screen and (max-width: $breakup-smartphone) {
      gap: 10px;
      margin: 0 0 20px 0;
    }
    /*******************************************/

    .ingredient_container {
      background-color: $filterBackgroundBlue;
    }

    .material_container {
      background-color: $filterBackgroundGreen;
    }

    .utensil_container {
      background-color: $filterBackgroundRed;
    }

    .dropbox_container {
      position: relative;
      width: 170px;
      height: 69px;
      padding: 0 20px;
      border-radius: 5px;

      /********************media*******************/
      @media screen and (max-width: $breakup-smartphone) {
        width: 100px;
        height: 50px;
        padding: 0 8px;
      }
      /*******************************************/

      .dropbox_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .dropdown_input {
          width: 100px;
          height: 69px;
          color: $whiteText;
          background: none;
          border: none;

          &::placeholder {
            color: $whiteText;
          }

          /********************media*******************/
          @media screen and (max-width: $breakup-smartphone) {
            width: 63px;
            height: 50px;
            font-size: 12px;
          }
          /*******************************************/
        }
        .dropdown_icone {
          top: 27px;
          color: $whiteText;
          cursor: pointer;
          transform: rotate(360deg);
          transition: 0.3s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }

          /********************media*******************/
          @media screen and (max-width: $breakup-smartphone) {
            font-size: 12px;
          }
          /*******************************************/
        }
        .rotate {
          transform: rotate(180deg);
        }
      }

      .item_list {
        display: none;
      }
    }
    //interact with js
    .dropbox_container.active {
      width: 40%;
      border-radius: 5px 5px 0 0;

      .dropdown_ingredient_list {
        background-color: $filterBackgroundBlue;
      }

      .dropdown_material_list {
        background-color: $filterBackgroundGreen;
      }
      .dropdown_utensil_list {
        background-color: $filterBackgroundRed;
      }

      .item_list {
        position: absolute;
        width: 100%;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 10px;
        color: $whiteText;
        padding: 10px 20px 10px 20px;
        border-radius: 0 0 5px 5px;
        cursor: pointer;

        /********************media*******************/
        @media screen and (max-width: $breakup-tablette) {
          grid-template-columns: 1fr 1fr;
          column-gap: 5px;
          padding: 8px;
        }
        /*******************************************/
        @media screen and (max-width: $breakup-smartphone) {
          grid-template-columns: 1fr;
          column-gap: 5px;
          padding: 5px;
        }
        /*******************************************/

        .dropdown_item {
          transition: 0.4s ease-in-out;

          &:hover {
            color: $blackText;
          }
          /*******************************************/
          @media screen and (max-width: $breakup-smartphone) {
            font-size: 12px;
          }
          /*******************************************/
        }
      }
    }
  }

  /***************************************/
  /*menus cards*/
  /**************************************/
  .menus_cards {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    column-gap: 3.5%;
    row-gap: 50px;

    /********************media*******************/
    @media screen and (max-width: $breakup-tablette) {
      grid-template-columns: 48.2% 48.2%;
      row-gap: 20px;
    }
    /*******************************************/
    @media screen and (max-width: $breakup-smartphone) {
      grid-template-columns: 100%;
      row-gap: 20px;
    }
    /*******************************************/

    article {
      width: 100%;
      height: 370px;

      /*******************************************/
      @media screen and (max-width: $breakup-smartphone) {
        height: 300px;
      }
      /*******************************************/

      .futur_picture {
        height: 48%;
        background-color: $imageBackgroundGrey;
        border-radius: 5px 5px 0 0;
      }
      .receipt_container {
        @include direction-column;
        justify-content: center;
        gap: 15px;
        height: 52%;
        background-color: $menuCardBackgroundGrey;
        border-radius: 0 0 5px 5px;
        padding: 0 15px 0 15px;

        .title_wrapper {
          @include direction-row;
          justify-content: space-between;

          h2 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .time_wrapper {
            @include center-row;
            gap: 5px;
          }
        }
        .receipt_wrapper {
          @include direction-row;
          justify-content: space-between;
          overflow: hidden;

          .ingredient_wrapper {
            display: flex;
            flex-direction: column;
            gap: 1px;

            .ingredientList {
              @include direction-row;
              gap: 2px;
            }
          }
          .menu_description {
            width: 50%;
            height: 85px;
            line-height: 14px;
            overflow: hidden;
            /*text-overflow: ellipsis;
            white-space: normal;*/
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}
