/***************************Setting colors***************************/ /****************************setting fonts***************************/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/**************************setting text***************************/
h1 {
  font-weight: 700;
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
}

.item_list,
.input,
h2 {
  font-weight: 400;
  font-size: 18px;
}

.item_text_display,
.dropdown_item {
  font-weight: 700;
  font-size: 14px;
}

.btn,
.dropdown_input,
.time_display {
  font-weight: 700;
  font-size: 18px;
}

.ingredients {
  font-weight: 400;
  font-size: 12px;
}

.bold {
  font-weight: 700;
  font-size: 12px;
}

.menu_description {
  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

/*************************Setting mixin************************/ /***************************************************************/
/*setting*/
/***************************************************************/
/*************************Setting page**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 1450px;
  text-align: left;
  margin: 0 auto;
}

button {
  text-align: left;
  width: 170px;
  height: 69px;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
}

/*************Text link & img fit & icone color***************/
a,
a:visited {
  color: black;
  text-decoration: none;
}

/*************************breakup**************************/
/**********************************************************************/
/*header*/
/**********************************************************************/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
header h1 {
  margin-bottom: 20px;
  color: #d04f4f;
}

/**********************************************************************/
/*Main*/
/**********************************************************************/
main {
  width: 100%;
  /***************************************/
  /*form*/
  /**************************************/
  /***************************************/
  /*dropdown*/
  /**************************************/
  /***************************************/
  /*menus cards*/
  /**************************************/
  /***************************************/
  /*Error Message*/
  /**************************************/
}
main .search_form {
  width: 100%;
}
main .search_form .input_wrapper {
  position: relative;
}
main .search_form .input_wrapper .input {
  width: 100%;
  height: 69px;
  padding-left: 24px;
  margin-bottom: 22px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  /*******************************************/
  /*******************************************/
}
@media screen and (max-width: 555px) {
  main .search_form .input_wrapper .input {
    font-size: 14px;
  }
}
main .search_form .input_wrapper .search_icone {
  position: absolute;
  font-size: 32px;
  top: 20px;
  right: 20px;
  /*******************************************/
  /*******************************************/
}
@media screen and (max-width: 555px) {
  main .search_form .input_wrapper .search_icone {
    top: 26px;
    font-size: 20px;
  }
}
main .search_form .display_filter_item {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 10px;
  row-gap: 10px;
}
main .search_form .display_filter_item .filter_item_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 37px;
  padding: 0 20px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
main .search_form .display_filter_item .filter_item_wrapper .item_text_display {
  color: #e7e7e7;
  /*******************************************/
  /*******************************************/
}
@media screen and (max-width: 555px) {
  main .search_form .display_filter_item .filter_item_wrapper .item_text_display {
    font-size: 12px;
  }
}
main .search_form .display_filter_item .filter_item_wrapper .item_logo {
  font-size: 20px;
  color: #e7e7e7;
  cursor: pointer;
  /*******************************************/
  /*******************************************/
}
@media screen and (max-width: 555px) {
  main .search_form .display_filter_item .filter_item_wrapper .item_logo {
    font-size: 15px;
  }
}
main .search_form .display_filter_item .blue {
  background-color: #3282f7;
}
main .search_form .display_filter_item .green {
  background-color: #68d9a4;
}
main .search_form .display_filter_item .red {
  background-color: #ed6454;
}
main .menu_dropdown {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px 0 25px 0;
  /********************media*******************/
  /*******************************************/
}
@media screen and (max-width: 555px) {
  main .menu_dropdown {
    gap: 10px;
    margin: 0 0 20px 0;
  }
}
main .menu_dropdown .ingredient_container {
  background-color: #3282f7;
}
main .menu_dropdown .material_container {
  background-color: #68d9a4;
}
main .menu_dropdown .utensil_container {
  background-color: #ed6454;
}
main .menu_dropdown .dropbox_container {
  position: relative;
  width: 170px;
  height: 69px;
  padding: 0 20px;
  border-radius: 5px;
  /********************media*******************/
  /*******************************************/
}
@media screen and (max-width: 555px) {
  main .menu_dropdown .dropbox_container {
    width: 100px;
    height: 50px;
    padding: 0 8px;
  }
}
main .menu_dropdown .dropbox_container .dropbox_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
main .menu_dropdown .dropbox_container .dropbox_wrapper .dropdown_input {
  width: 100px;
  height: 69px;
  color: #e7e7e7;
  background: none;
  border: none;
  /********************media*******************/
  /*******************************************/
}
main .menu_dropdown .dropbox_container .dropbox_wrapper .dropdown_input::-moz-placeholder {
  color: #e7e7e7;
}
main .menu_dropdown .dropbox_container .dropbox_wrapper .dropdown_input::placeholder {
  color: #e7e7e7;
}
@media screen and (max-width: 555px) {
  main .menu_dropdown .dropbox_container .dropbox_wrapper .dropdown_input {
    width: 63px;
    height: 50px;
    font-size: 12px;
  }
}
main .menu_dropdown .dropbox_container .dropbox_wrapper .dropdown_icone {
  top: 27px;
  color: #e7e7e7;
  cursor: pointer;
  transform: rotate(360deg);
  transition: 0.3s ease-in-out;
  /********************media*******************/
  /*******************************************/
}
main .menu_dropdown .dropbox_container .dropbox_wrapper .dropdown_icone:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 555px) {
  main .menu_dropdown .dropbox_container .dropbox_wrapper .dropdown_icone {
    font-size: 12px;
  }
}
main .menu_dropdown .dropbox_container .dropbox_wrapper .rotate {
  transform: rotate(180deg);
}
main .menu_dropdown .dropbox_container .item_list {
  display: none;
}
main .menu_dropdown .dropbox_container.active {
  width: 40%;
  border-radius: 5px 5px 0 0;
}
main .menu_dropdown .dropbox_container.active .dropdown_ingredient_list {
  background-color: #3282f7;
}
main .menu_dropdown .dropbox_container.active .dropdown_material_list {
  background-color: #68d9a4;
}
main .menu_dropdown .dropbox_container.active .dropdown_utensil_list {
  background-color: #ed6454;
}
main .menu_dropdown .dropbox_container.active .item_list {
  position: absolute;
  width: 100%;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  color: #e7e7e7;
  padding: 10px 20px 10px 20px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  /********************media*******************/
  /*******************************************/
  /*******************************************/
}
@media screen and (max-width: 1060px) {
  main .menu_dropdown .dropbox_container.active .item_list {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 5px;
         column-gap: 5px;
    padding: 8px;
  }
}
@media screen and (max-width: 555px) {
  main .menu_dropdown .dropbox_container.active .item_list {
    grid-template-columns: 1fr;
    -moz-column-gap: 5px;
         column-gap: 5px;
    padding: 5px;
  }
}
main .menu_dropdown .dropbox_container.active .item_list .dropdown_item {
  transition: 0.4s ease-in-out;
  /*******************************************/
  /*******************************************/
}
main .menu_dropdown .dropbox_container.active .item_list .dropdown_item:hover {
  color: #000000;
}
@media screen and (max-width: 555px) {
  main .menu_dropdown .dropbox_container.active .item_list .dropdown_item {
    font-size: 12px;
  }
}
main .menus_cards {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  -moz-column-gap: 3.5%;
       column-gap: 3.5%;
  row-gap: 50px;
  /********************media*******************/
  /*******************************************/
  /*******************************************/
}
@media screen and (max-width: 1060px) {
  main .menus_cards {
    grid-template-columns: 48.2% 48.2%;
    row-gap: 20px;
  }
}
@media screen and (max-width: 555px) {
  main .menus_cards {
    grid-template-columns: 100%;
    row-gap: 20px;
  }
}
main .menus_cards article {
  width: 100%;
  height: 370px;
  /*******************************************/
  /*******************************************/
}
@media screen and (max-width: 555px) {
  main .menus_cards article {
    height: 300px;
  }
}
main .menus_cards article .futur_picture {
  height: 48%;
  background-color: #c7bebe;
  border-radius: 5px 5px 0 0;
}
main .menus_cards article .receipt_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 52%;
  background-color: #e7e7e7;
  border-radius: 0 0 5px 5px;
  padding: 0 15px 0 15px;
}
main .menus_cards article .receipt_container .title_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .menus_cards article .receipt_container .title_wrapper h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .menus_cards article .receipt_container .title_wrapper .time_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
main .menus_cards article .receipt_container .receipt_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
main .menus_cards article .receipt_container .receipt_wrapper .ingredient_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
main .menus_cards article .receipt_container .receipt_wrapper .ingredient_wrapper .ingredientList {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
main .menus_cards article .receipt_container .receipt_wrapper .menu_description {
  width: 50%;
  height: 85px;
  line-height: 14px;
  overflow: hidden;
  /*text-overflow: ellipsis;
  white-space: normal;*/
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
main .error_message {
  margin-top: 40px;
  text-align: center;
  width: 90%;
  /*******************************************/
  /*******************************************/
}
@media screen and (max-width: 555px) {
  main .error_message {
    margin-top: 20spx;
  }
}
main .error_message .error {
  color: red;
  font-size: 18px;
  font-weight: 800;
  /*******************************************/
  /*******************************************/
}
@media screen and (max-width: 555px) {
  main .error_message .error {
    font-size: 14px;
    font-weight: 400;
  }
}

/**********************************************************************/
/*footer*/
/**********************************************************************//*# sourceMappingURL=index.css.map */